<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Get Started | SchoolGuru</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body onload="location.href = '/games'">
    <div class="topNav">
		<a class="title" href="/">SchoolGuru</a>
	</div>
	<button class="GetStarted">Get Started</button>
  </body>
</html>